.service-details .service-box {
  box-shadow: 0px 2px 20px rgba(255, 254, 254, 0.048);
}

.service-details .service-box h4 {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px solid #272a2e4a;
}

.service-details .services-list div {
  cursor: pointer;
  color: #212529;
  border-radius: 1px;
  box-shadow: 0 0px 5px rgb(192, 189, 189);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(250, 250, 250, 0.217);
  border-bottom: 2px solid #00000051;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  margin-top: 15px;
  transition: 0.3s;
}

/* .service-details .services-list a:first-child {
  margin-top: 0;
} */

.service-details .services-list {
  font-size: 16px;
  margin-right: 8px;
}

.service-details .services-list .service-item.active {
  color: white;
  background: #232d32b7;
  border-bottom: 2px solid #232d32b7;
  > span {
    color: white;
  }
}

.service-details .services-list .service-item:hover {
  background-color: #151c1f9c;
  color: white;
  border-bottom: 2px solid #232d32b7;
}

.service-details h3 {
  color: rgb(71, 67, 67);
  font-size: 26px;
  font-weight: 700;
}

.service-details p {
  font-size: 15px;
  color: rgb(71, 67, 67);
}

.service-details ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.service-details ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.service-details ul i {
  font-size: 20px;
  margin-right: 8px;
}

.service-box {
  flex-grow: 1;
}

.service-details-content {
  display: flex;
  flex-direction: column;
}

/* ServiceDetails.css */
@media (max-width: 991px) {
  .service-details .row .col-lg-4 {
    order: 1;
  }

  .service-details .row .col-lg-8 {
    order: 2;
  }
}

.mantine-Carousel-indicators {
  padding: 10px;
}
.mantine-Carousel-indicator {
  background-color: #52565e !important;
  z-index: 100 !important;
}
